body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #595959;
}

h1 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 4px;
}

p {
	font-size: 16px;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
}

label {
	display: block;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.container {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	text-align: center;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
	display: inline-block;
	white-space: normal;
}

#count-header {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 4px;
	text-transform: uppercase;
}

#current-counter-value {
	font-size: 28px;
	font-weight: bold;
}

.block, input[type="number"], input[type="button"] {
	border: 1px solid #d4d4d4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.block {
	width: 50%;
	text-align: center;
	padding: 30px;
	margin: 40px auto 80px auto;
	text-transform: uppercase;
}

input[type="number"] {
    height: 18px;
    padding: 4px 12px;
    font-size: 14px;
}

input[type="button"] {
	background-color: #44c767;
	border: 1px solid #18ab29;
	color: #fff;
	font-size: 14px;
	padding: 4px 22px;
	margin: 10px 12px;
}

.block-active {
	background-color: #44c767;
	color: white;
	font-weight: bold;
}

.warning {
	color: red;
}